@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import"_variables";
@import"_base";
@import"_mixins";

h1 {
    color: $primary;
}

#header {
    object-fit: cover;
    position: relative;

    .back-img {
        height: 100vh;
        position: relative;
    }

    .container {
        background-color: rgba(0, 0, 0, 0.638);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-position-x: 50%;
        background-position-y: 50%;

        .main {
            color: white;

            .logo-nav {
                background: transparent;
                //background: rgba(0, 0, 0, 0.75);
                color: #aed6f1;
                cursor: default;
                height: 3.25em;
                width: 100%;
                @include display-flex(row, space-between, center, null);
                padding: 40px 20px;
                animation: bg-color 0.5s ease;

                .logo {
                    a {
                        color: white;
                        font-size: 13.8667px;
                        font-family: "Scope One", serif;

                        span {
                            color: #3498db;
                            font-size: 17.333px;


                        }
                    }
                }

                nav {
                    color: white;

                    span {
                        i {
                            margin-right: 15px;
                        }
                    }
                }

            }

            .dark-bg {
                position: fixed;
                z-index: 1001;
                background: rgba(0, 0, 0, 0.75);
                padding: 30px 20px;


            }


            #hero {
                padding: 8em 0 6em 0;
                text-align: center;
                font-family: "Scope One", serif;

                h1 {
                    font-size: 4em;
                    margin-bottom: .25em;
                }

                p {
                    color: rgba(255, 255, 255, 0.85);
                    font-size: 1.75em;
                    margin: 0 0 1.5em 0;
                }

                a {
                    @include a-button($button-color-blue, $button-color-white, 1.35em, 2.95em);
                }
            }
        }
    }


}

#banner-white,
#banner-blue {
    padding: 6em 0 4em 0;
    position: relative;
    font-family: "Scope One", serif;
    .container {
        margin: 0 auto;
        width: 88em;

        .inner {
            @include display-flex(row, space-between, null, 20px);
            flex-wrap: nowrap;
            width: 100%;


            .inner-img {
                @include image;

            }

            .inner-blog {
                width: 66%;
                color: #999999;
                box-sizing: border-box;
                font-family: "Scope One", serif;

                h3 {
                    font-size: 1.75em;
                    font-weight: 700;
                    line-height: 1.5;
                    margin: 0 0 1em 0;

                    color: #000;
                }

                p {
                    margin: 0 0 2em 0;
                    color: #999999;
                    font-size: 17.3333px;
                    line-height: 28.6px;
                    font-weight: 300;
                }

                a {
                    @include a-button($button-color-blue, $button-color-white, 17.3333px, 2.95em);
                }
            }
        }
    }
}

#banner-blue {
    font-family: "Scope One", serif;
    background-color: $button-color-blue;
    padding: 6em 0 2em 0;

    .container {

        .inner {

            .inner-img {
                @include image;

                .inner-img-border {
                    box-shadow: 0px 0px 0px 7px $button-color-blue, 0px 0px 0px 8px rgba(255, 255, 255, 0.25);

                    a {
                        img {}
                    }
                }


            }

            .inner-blog {
                h3 {
                    color: #fff;
                }

                p {
                    color: #aed6f1;
                }

                a {
                    @include a-button($button-color-white, $button-color-blue, 17.3333px, 2.95em);
                }
            }
        }
    }

}


#banner {
    font-family: "Scope One", serif;
    padding: 6em 0 4em 0;
    position: relative;
    font-size: 17.3333px;
    background-color: #fafafa;

    .container {
        font-family: "Scope One", serif;
        margin: 0 auto;
        width: 80em;

        .inner {

            @include display-flex(column, space-between, null, null);
            font-family: "Scope One", serif;
            text-align: center;
            width: 100%;

            h1 {
                color: black;
                font-size: 2.5em;
                font-weight: 700;
                line-height: 1.5;
                margin: 0 0 1em 0;
            }

            p {
                color: #bfbfbf;
                margin-bottom: 4em;
                font-size: 1.25em;
                margin-top: -1em;
            }

            .inner-blog {
                width: 100%;
                @include display-flex(row, space-between, center, null);

                .inner-blog-item {

                    @include image;
                    width: 28%;
                    box-sizing: border-box;
                    overflow: hidden;
                    @include display-flex(column, null, center, null);

                    .inner-blog-img {
                        margin: 0 0 2em 0;
                    }

                    .inner-blog-content {
                        p {
                            font-size: 17.3333px;
                            margin: 0 0 2em 0;
                        }

                        a {
                            @include a-button($button-color-blue, $button-color-white, 17.3333px, 2.95em);
                        }
                    }
                }
            }
        }

    }
}

#footer {
    font-family: "Scope One", serif;
    font-size: 17.3333px;
    display: block;
    box-sizing: border-box;
    @include display-flex(column, center, center, null);
    .copyright-1 {
        font-family: "Scope One", serif;

        text-align: center;

     
        ul {
            cursor: default;
            list-style: none;
            padding: 6em 2em 4em 2em;

            li {
                display: inline-block;
                padding: 0 2em 0 0;

                a {
                    border-radius: 100%;
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
                    display: block;
                    font-size: 1em;
                    height: 3em;
                    line-height: 3em;
                    margin: 0 auto 0.7em;
                    text-align: center;
                    width: 3em;
                   

                    i{
                        
                        color: black;
                        font-size: 15.6px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .copyright-2{
        font-family: "Scope One", serif;
        margin: 0 0 2em 0;
        color: #bfbfbf;
        font-size: 0.9em;
        a{
            color:#000;
            font-weight: 700;
        }
    }
}